<div class="container mt-4">
  <h1 class="title text-center mb-4">Arquitecturas Exprezo</h1>

  <div class="button-container">
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Administrador" />
      </button>
      <span class="button-text">Adimistrador Exprezo</span>
    </div>
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Ecommerce" />
      </button>
      <span class="button-text">E-commerce Exprezo</span>
    </div>
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Administrador" />
      </button>
      <span class="button-text">ABC Exprezo</span>
    </div>
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Ecommerce" />
      </button>
      <span class="button-text">Push Notification</span>
    </div>
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Ecommerce" />
      </button>
      <span class="button-text">Data Lake</span>
    </div>
    <div class="button-item">
      <button class="custom-button">
        <img src="assets/icons/iconArchitect.png" alt="Ecommerce" />
      </button>
      <span class="button-text">Arquitectura de Datos</span>
    </div>
  </div>
</div>
