<div class="container mt-5">
    <!-- Primera fila -->
    <div class="row justify-content-center">
        <div class="col-md-4 text-center color-red">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Salvador Martinez Hernández</h5>
                <p>Gerente de desarrollo</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Felipe Mardoqueo Hernandez Martinez</h5>
                <p>Lider de desarrollo</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Carlos Tlelo Bárcena</h5>
                <p>Arquitecto de software</p>
            </div>
        </div>
    </div>
    <!-- Segunda fila -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Reyes Arenas Morales</h5>
                <p>Administrador BD</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Itzel Franco Davalos</h5>
                <p>Coordinador de tecnologia</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Raquel Ramírez</h5>
                <p>Tester QA</p>
            </div>
        </div>
    </div>
    <!-- Tercera fila -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center color-blue">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Edson Isaac Gonzalez Ibarraran</h5>
                <p>Soporte</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-green">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Isaac Bautista Camino</h5>
                <p>Desarrollador</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-green">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Saul Solis Granados</h5>
                <p>Desarrollador</p>
            </div>
        </div>
    </div>

    <!-- Cuarta fila -->
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-4 text-center color-green">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Jorge Harim Perez Robles</h5>
                <p>Desarrollador</p>
            </div>
        </div>
        <div class="col-md-4 text-center color-green">
            <div class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </div>
            <div class="info-box mx-auto">
                <h5>Saul Solis Granados</h5>
                <p>Desarrollador</p>
            </div>
        </div>
        
    </div>
</div>