<div class="container mt-4">
  <h1 class="title text-center mb-4">Equipo Exprezo</h1>

  <div *ngIf="loading" class="text-center my-4">Cargando…</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div
    class="row g-5 justify-content-center"
    *ngIf="members$ | async as members"
  >
    <div class="col-md-4 text-center" *ngFor="let m of members">
      <div class="user-icon">
        <!-- tu SVG de persona -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
        </svg>
      </div>

      <!-- grupo.component.html -->
      <div
        class="info-box mx-auto"
        [style.background-color]="cardColor(m)"
        [style.color]="'#fff'"
      >
        <h5>{{ m.fullName }}</h5>
        <p>{{ m.title }}</p>
      </div>
    </div>
  </div>
</div>
