<div class="card p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="m-0">Requerimientos</h2>
    <div>
      <button class="btn btn_add" (click)="irAgregar()">
        <p>Agregar Requerimiento</p>
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Requerimiento</th>
          <th>Descripción</th>
          <th>Estatus</th>
          <th style="width: 1%">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of contratos()">
          <td>{{ c.folio }}</td>
          <td>{{ c.contrato }}</td>
          <td>{{ c.descripcion }}</td>
          <td>
            <!-- Pendiente -->
            <button
              type="button"
              class="badge-btn badge text-bg-secondary"
              *ngIf="c.estatus === 'Pendiente'"
              (click)="onStatusClick(c)"
            >
              Pendiente
            </button>

            <!-- En revisión -->
            <button
              type="button"
              class="badge-btn badge text-bg-warning"
              *ngIf="c.estatus === 'En revision'"
              (click)="onStatusClick(c)"
            >
              En revisión
            </button>

            <!-- Aprobado -->
            <button
              type="button"
              class="badge-btn badge text-bg-success"
              *ngIf="c.estatus === 'Aprobado'"
              (click)="onStatusClick(c)"
            >
              Aprobado
            </button>

            <!-- Rechazado -->
            <button
              type="button"
              class="badge-btn badge text-bg-danger"
              *ngIf="c.estatus === 'Rechazado'"
              (click)="onStatusClick(c)"
            >
              Rechazado
            </button>
          </td>

          <td>
            <button class="btn btn-ir" (click)="irModelado(c.folio)">Ir</button>
          </td>
        </tr>

        <tr *ngIf="contratos().length === 0">
          <td colspan="5" class="text-center text-muted">Sin Requerimientos activos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
