<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/grupo" routerLinkActive="active">GRUPO E-COMM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/framework" routerLinkActive="active">FRAMEWORKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/estandares/administrador/frontend" routerLinkActive="active">ESTÁNDARES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/arquitectura" routerLinkActive="active">ARQUITECTURAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/aws" routerLinkActive="active">AWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/repositorios" routerLinkActive="active">REPOSITORIOS</a>
      </li>
      <!--  
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/swagger" routerLinkActive="active">SWAGGER</a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/abc-exprezo/contratos" routerLinkActive="active">REQUERIMIENTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
   routerLink="/abc-exprezo/solicitudes"
   routerLinkActive="active">
   SOLICITUDES
</a>
      </li>
    </ul>
  </div>
</nav>
